/*GLOBAL CLASSES*/
body {
  color: #333333;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  padding-left: 0;
}

h1,h2,h3:hover {
transition: all 0.3s ease;
color: #333333;
}

h1,h2,h3 {
  color: #03c7de;
}


.w-border {
 border: 2px solid white;
}

.bg-main {
  background-color: white;
}

.bg-head-foot {
  background-color: #333333;
  color: white;
}

.button {
  width: 293px;
  height: 70px;
  border: none;
  border-radius: 0;
  background-color: #039aac;
  font-size: 17.5px;
  font-weight: 600;
  color: #ffffff;
}

.button:hover {
  background-color: #03c7de;
}

.button-mod {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 0;
  background-color: #039aac;
  font-size: .9rem;
  font-weight: 600;
  color:  #ffffff;
}

.button-mod:hover {
  background-color: #03c7de;
}


hr {
  width: 87px;
  height: 4px;
  opacity: 0.15;
  background-color: #000000;
  background-color: black;
}

header {
  box-shadow: 0 0 4px 0 #000000;
}

.footer {
  min-height: 70px;
  border-top: 1px solid white;
}

.logo-title {
  font-size: 0.9em;
  font-weight: 100;
}

.print {
              display: none;
            }

@media print {
                div {
                  display: none;
                }
                .print {
                  display: block;
                  color: black;
                }

            }

.right {
  float: right;
    width: 300px;

    padding: 10px;
}

#myModal {
  color: black;
}

.main-txt > p {
  text-indent: 1.5em;
}

/*Auto*/

.ui-state-active,
.ui-state-focus {
  color: #23527c;
  background-color: #eeeeee;
}

.ui-autocomplete {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  overflow: auto;
  z-index: 9999;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}
