body {
  color: #001419;
  font-family: 'Helvetica', sans-serif;
}

ul {
  padding-left: 0;
  padding-bottom: 0;
}

/* !!!Між строками тексту неравномірні відступи*/

h3 {
  color: white;
}

h4 {
  color: #001419;
}

.row {
 margin-left: 50px;
 margin-top: 10px;
 margin-right: 50px;
}

.bg-main {
  background-color: #97c4c5;
}

.bg-head-foot {
  background-color: #01535b;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 293px;
  height: 70px;
  border: none;
  border-radius: 2;
  background-color: #60a201;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}

.button:hover {
  background-color: #c0b95d;
}

.button-mod {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 0;
  background-color: #039aac;
  font-size: 0.9rem;
  font-weight: 600;
  color:  #ffffff;
}

.button-mod:hover {
  background-color: #03c7de;
}

.footer {
  min-height: 70px;
  border-top: 1px solid white;
}

.print {
  display: none;
}

@media print {
                div {
                  display: none;
                }
                .print {
                  display: block;
                  color: black;
                }

            }

.right {
  float: right;
  width: 300px;
  padding: 10px;
}

#myModal {
  color: black;
}

.main-txt > p {
  text-indent: 1.5em;
}

/*Auto*/
.ui-state-active,
.ui-state-focus {
  color: #23527c;
  background-color: #eeeeee;
}

.ui-autocomplete {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  overflow: auto;
  z-index: 9999;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
  }
